.hexagon {
    position: relative;
    display: inline-block;
    width: 182px;
    height: 209px;
    margin: 0 7.3px;
    -webkit-mask-image: url("../assets/hexagon.svg");
    mask-image: url("../assets/hexagon.svg");
    overflow: hidden;
}

img.hex {
    position: absolute;
    height: 100%;
    width: auto;
    left: 50%;
    transform: translate(-50%, 0);
}

.hexagon:hover img.hex {
    height: 105%;
    transition: all .2s;
}